@import "tailwindcss";

:root {
  --stanford-red: #8C1515;
  --stanford-red-light: #B83A3A;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: #f3f4f6;
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #f3f4f6;
    color: #171717;
  }
}
